services:
  n8n:
    image: 'docker.n8n.io/n8nio/n8n:1.119.2'
    environment:
      SERVICE_URL_N8N_5678: 'https://assetcare24.org:5678'
      N8N_EDITOR_BASE_URL: '${SERVICE_URL_N8N}'
      WEBHOOK_URL: '${SERVICE_URL_N8N}'
      N8N_HOST: '${SERVICE_URL_N8N}'
      GENERIC_TIMEZONE: '${GENERIC_TIMEZONE:-Europe/Berlin}'
      TZ: '${TZ:-Europe/Berlin}'
      DB_TYPE: postgresdb
      DB_POSTGRESDB_DATABASE: '${POSTGRES_DB:-n8n}'
      DB_POSTGRESDB_HOST: postgresql
      DB_POSTGRESDB_PORT: '5432'
      DB_POSTGRESDB_USER: $SERVICE_USER_POSTGRES
      DB_POSTGRESDB_SCHEMA: public
      DB_POSTGRESDB_PASSWORD: $SERVICE_PASSWORD_POSTGRES
      N8N_RUNNERS_ENABLED: '${N8N_RUNNERS_ENABLED:-true}'
      N8N_BLOCK_ENV_ACCESS_IN_NODE: '${N8N_BLOCK_ENV_ACCESS_IN_NODE:-true}'
      N8N_GIT_NODE_DISABLE_BARE_REPOS: '${N8N_GIT_NODE_DISABLE_BARE_REPOS:-true}'
      N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: '${N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS:-true}'
      N8N_PROXY_HOPS: '${N8N_PROXY_HOPS:-1}'
      COOLIFY_RESOURCE_UUID: bcogk4gsskcc8880k4kc0ogs
      COOLIFY_CONTAINER_NAME: n8n-bcogk4gsskcc8880k4kc0ogs
      COOLIFY_FQDN: assetcare24.org
      COOLIFY_URL: 'https://assetcare24.org'
      SERVICE_NAME_N8N: n8n
      SERVICE_NAME_POSTGRESQL: postgresql
    volumes:
      - 'bcogk4gsskcc8880k4kc0ogs_n8n-data:/home/node/.n8n'
    depends_on:
      postgresql:
        condition: service_healthy
    healthcheck:
      test:
        - CMD-SHELL
        - 'wget -qO- http://127.0.0.1:5678/'
      interval: 5s
      timeout: 20s
      retries: 10
    container_name: n8n-bcogk4gsskcc8880k4kc0ogs
    restart: unless-stopped
    labels:
      - coolify.managed=true
      - coolify.version=4.0.0-beta.452
      - coolify.serviceId=1
      - coolify.type=service
      - coolify.name=n8n-bcogk4gsskcc8880k4kc0ogs
      - coolify.resourceName=n8n-with-postgresql-bcogk4gsskcc8880k4kc0ogs
      - coolify.projectName=assetcare24de
      - coolify.serviceName=n8n
      - coolify.environmentName=production
      - coolify.pullRequestId=0
      - coolify.service.subId=1
      - coolify.service.subType=application
      - coolify.service.subName=n8n
      - traefik.enable=true
      - traefik.http.middlewares.gzip.compress=true
      - traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https
      - traefik.http.routers.http-0-bcogk4gsskcc8880k4kc0ogs-n8n.entryPoints=http
      - traefik.http.routers.http-0-bcogk4gsskcc8880k4kc0ogs-n8n.middlewares=redirect-to-https
      - 'traefik.http.routers.http-0-bcogk4gsskcc8880k4kc0ogs-n8n.rule=Host(`assetcare24.org`) && PathPrefix(`/`)'
      - traefik.http.routers.https-0-bcogk4gsskcc8880k4kc0ogs-n8n.entryPoints=https
      - traefik.http.routers.https-0-bcogk4gsskcc8880k4kc0ogs-n8n.middlewares=gzip
      - 'traefik.http.routers.https-0-bcogk4gsskcc8880k4kc0ogs-n8n.rule=Host(`assetcare24.org`) && PathPrefix(`/`)'
      - traefik.http.routers.https-0-bcogk4gsskcc8880k4kc0ogs-n8n.tls.certresolver=letsencrypt
      - traefik.http.routers.https-0-bcogk4gsskcc8880k4kc0ogs-n8n.tls=true
      - 'caddy_0.encode=zstd gzip'
      - 'caddy_0.handle_path.0_reverse_proxy={{upstreams 5678}}'
      - 'caddy_0.handle_path=/*'
      - caddy_0.header=-Server
      - 'caddy_0.try_files={path} /index.html /index.php'
      - 'caddy_0=https://assetcare24.org'
      - caddy_ingress_network=bcogk4gsskcc8880k4kc0ogs
    networks:
      bcogk4gsskcc8880k4kc0ogs: null
    env_file:
      - .env
  postgresql:
    image: 'postgres:16-alpine'
    volumes:
      - 'bcogk4gsskcc8880k4kc0ogs_postgresql-data:/var/lib/postgresql/data'
    environment:
      POSTGRES_USER: $SERVICE_USER_POSTGRES
      POSTGRES_PASSWORD: $SERVICE_PASSWORD_POSTGRES
      POSTGRES_DB: '${POSTGRES_DB:-n8n}'
      COOLIFY_RESOURCE_UUID: bcogk4gsskcc8880k4kc0ogs
      COOLIFY_CONTAINER_NAME: postgresql-bcogk4gsskcc8880k4kc0ogs
      SERVICE_NAME_N8N: n8n
      SERVICE_NAME_POSTGRESQL: postgresql
    healthcheck:
      test:
        - CMD-SHELL
        - 'pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}'
      interval: 5s
      timeout: 20s
      retries: 10
    container_name: postgresql-bcogk4gsskcc8880k4kc0ogs
    restart: unless-stopped
    labels:
      - coolify.managed=true
      - coolify.version=4.0.0-beta.452
      - coolify.serviceId=1
      - coolify.type=service
      - coolify.name=postgresql-bcogk4gsskcc8880k4kc0ogs
      - coolify.resourceName=n8n-with-postgresql-bcogk4gsskcc8880k4kc0ogs
      - coolify.projectName=assetcare24de
      - coolify.serviceName=postgresql
      - coolify.environmentName=production
      - coolify.pullRequestId=0
      - coolify.service.subId=1
      - coolify.service.subType=database
      - coolify.service.subName=postgresql
    networks:
      bcogk4gsskcc8880k4kc0ogs: null
    env_file:
      - .env
volumes:
  bcogk4gsskcc8880k4kc0ogs_n8n-data:
    name: bcogk4gsskcc8880k4kc0ogs_n8n-data
  bcogk4gsskcc8880k4kc0ogs_postgresql-data:
    name: bcogk4gsskcc8880k4kc0ogs_postgresql-data
networks:
  bcogk4gsskcc8880k4kc0ogs:
    name: bcogk4gsskcc8880k4kc0ogs
    external: true
